.flex-row{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction:row;
    padding: 0px;
}
.newDir{
    width: 40%;
    height:40px;
}
.addLabel{
    width: 40%;
    height:40px;
}
.back{
    width: 30%;
    height: 40px;
}
#classfiyRule{
    width: 100%;
    margin-bottom: 20px;
}

